/**About Page**/


#history, #publications, #offerings, #careers, #partnering, #efforts, #contact {
	position: relative;
	h2 {
		&:after {
			height: 5px;
			width: 105px;
			content: '';
			background-color: $ocean-blue;
			border-radius: 50px;
			display: block;
			margin: 33px 0 54px;
		}

		&:before {
			height: 5px;
			width: 40px;
			content: '';
			background-color: #0095a7;
			border-radius: 50px;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

#publications {
	@include media('>=tablet') {
		background-image: url('../../images/about/publications-bg.jpg');
		background-repeat: no-repeat;
		background-position: right top;
	}

	h3 {
		font-weight: 400;
	}

	@include media('>=tablet', 'retina2x') { 
		background-image: url('../../images/about/publications-bg@2x.jpg');
	}

}

@media screen and (min-width: 1300px) {
	.left-pill, .right-pill {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 350px;
		background-size: 100%;
		background-repeat: no-repeat;

		#biovu &, #offerings &, #careers &, #partnering &, #contact & {
			top: 347px;
		}
	}

	.left-pill {
		left: 0;
		width: 215px;
		background-color: #87d4c4;
		border-radius: 0 172px 172px 0;

		#biovu & {
			background-color: #f9b021;
		}

		#offerings & {
			background-color: #008295;
		}

		#careers &, #contact & {
			background-color: $red;
		}
	}

	.right-pill {
		right: 0;
		width: 289px;
		border-radius: 180px 0 0 180px;
		background-color: #009eb9;
		overflow: hidden;

		&:before {
			position: absolute;
			width: 256px;
			height: 256px;
			border-radius: 100%;
			content: '';
			right: -200px;
			background-color: #f9b021;
			display: block;
			top: 50%;
			transform: translateY(-50%);
		}
		#biovu &, #contact & {
			background-color: #87d4c4;

			&:before {
				background-color: #008295;
			}		
		}

		#expertise & {
			background-color: #f9b021;

			&:before {
				background-color: $red;
			}		
		}	

		#careers & {
			background-color: #008599;

			&:before {
				background-color: #87d4c4;
			}		
		}

		#partnering & {
			background-color: #008599;

			&:before {
				background-color: $red;
			}		
		}	

	}
}

.nav-tabs {
	border: none;
}

.nav-tabs > li > a {
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: $ocean-blue;
	border: 1px solid $ocean-blue;
	border-radius: 50px;
	padding: 0 22px;
	margin-right: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: $red;
	border-color: $red;
	color: $white;
}

#team {
	color: $white;
	padding-bottom: 12px;	
	.subtitle {
		color: #96dad0;
	}

	h2 {
		color: $white;

		&:after {
			height: 5px;
			width: 105px;
			content: '';
			background-color: $ocean-blue;
			border-radius: 50px;
			display: block;
			margin: 33px 0 54px;
		}

		&:before {
			height: 5px;
			width: 40px;
			content: '';
			background-color: $dk-blue-lt;
			border-radius: 50px;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	@media screen and (max-width: 767px) {
		.nav-tabs {
			>li {
				float: none;
				margin-bottom: 25px;

				>a {
					padding: 8px 22px;
				}
			}
		}
	}

}


.tab-content {
	margin-top: 52px;
}

.team-member {
	width: 211px;
	text-align: center;
	margin-bottom: 34px;
	@media screen and (min-width: 768px) {
		float: left;
		margin-right: 42px;
		
		&:nth-of-type(3n-0) {
			margin-right: 0;
		}		
	}

	@media screen and (max-width: 767px) {
		margin: 0 auto 34px;
	}

	@media screen and (min-width: 992px) {
		margin-right: 110px;
	}


	@media screen and (min-width: 1200px) {
		margin-right: 180px;
	}

	h3 {
		@include rem-font-size(14px);
		font-weight: 600;
		color: $white;
		margin-top: 8px;
		margin-bottom: 6px;
	}

	h4 {
		@include rem-font-size(12px);
		font-weight: 400;
		color: $white;
		margin-top: 0;
		margin-bottom: 30px;
	}

	.linkedin {
		display: inline-block;
	}
}

.fa-linkedin {
	background-image: url('../../images/linkedin-logo.png');
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 23px;
	
	#contact & {
		background-image: url('../../images/linkedin-logo-blue.png');
	}

	@include media('retina2x') {
		background-image: url('../../images/linkedin-logo@2x.png');

		#contact & {
			background-image: url('../../images/linkedin-logo-blue@2x.png');
		}		
	}
}

.team-image {
	width: 211px;
	height: 211px;
	border-radius: 100%;
	background-color: #026785;

	img {
		border-radius: 100%;
		width: 100%;
		height: 100%;
	}
}

