/* Contact Page Styles */

#contact {
	color: #8a8a8a;
	h2 {
		&:after {
			background-color: #008599;
			margin-left: auto;
			margin-right: auto;			
		}

		&:before {
			background-color: $red;
			left: 41%;
			transform: translateX(-50%);
		}
	}

	.address {
		color: $dk-blue-lt;
		margin: 58px 0 28px;
	}
}

#contact-map {
	height: 389px;
	border-radius: 0 10px 10px 10px;
}


#map-area {
	margin-top: 48px;
	img {
		border-radius: 10px 0 0 10px;
	}
}

.bottom-contact {
	text-align: center;
	margin-top: 68px;
}