/* Expertise Page Styles */


#offerings {
	position: relative;
	color: #8a8a8a;
	h2 {
		&:after {
			height: 5px;
			width: 105px;
			content: '';
			background-color: #f9b021;
			border-radius: 50px;
			display: block;
			margin: 33px 0 54px;
		}

		&:before {
			height: 5px;
			width: 40px;
			content: '';
			background-color: $red;
			border-radius: 50px;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

.border-box {
	border: 2px solid #f7f7f7;
	border-radius: 10px;
	position: relative;
	padding: 56px 20px;
	text-align: center;
	background-color: $white;

	h3 {
		margin-bottom: 25px;
	}

	#offerings & {
		min-height: 392px;
	}
}

.compass-icon {
	background-image: url('../../images/icons/compass-icon.png');
}

.pill-icon {
	background-image: url('../../images/icons/pill-icon.png');
}

.pill-icon, .compass-icon {
	height: 146px;
	width: 146px;

	.border-box & {
		position: absolute;
		top: -73px;
		left: 50%;
		transform: translateX(-50%);
	}
}

#projects {
	margin-top: 58px;

	h2 {
		&:before {
			display: none;
		}

		&:after {
			background-color: $red;
			width: 70px;
			margin: 33px auto 54px;
		}
	}
}