/* Tech Page Styles */

#careers {
	color: #8a8a8a;
	h2 {
		&:after {
			background-color: $lt-blue;
		}

		&:before {
			background-color: #87d4c4;
		}
	}
}

#openings {
	margin-top: 30px;
	color: #8a8a8a;
	h2 {
		&:before {
			display: none;
		}

		&:after {
			background-color: $red;
			width: 80px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.border-box {
		text-align: left;
		@include rem-font-size(12px);
		padding: 56px;
	}

	#accordion {
		margin-bottom: 66px;
	}
}

#accordion {
	.panel {
		border: none;
		box-shadow: none;
		margin-bottom: 14px;
	}

	.panel-heading {
		border: none;
		background: none;
		padding: 0;
	}

	.panel-title {
		> a {
			display: block;
			font-size: 18px;
			padding: 20px 54px;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE5SURBVGhD7ZQ9bsJAEEYdCqQUFJRQIiW5CEdAouMcFNyDnCAFUnKelGk4ABeweWZnCoSJcPBu1uh70sj2/nwzT0gUQgghhBBCiC6oquqpLMsX6tmW+gcSQ2pHVYj8UK+21R9qCQb/qiUcvve9kmHmCwmnNzLM2vRLHOz1RPYyzNgk8U1NqXdbOsF3njLMdk1iYvv1v1feMsz0q4TDcr4yzHKThMN2fjLM0ErC4Vg+MvT+k4TD8Wsyb3YkPvS8S8Lh2v/J0KsTCYfr6WXo0amEQ0w6GbKjSDjExZchM6qEQ2w8GbKSSDjEdy9DxoCAzxAX4DuahEObRhkeMzvSDi4vQkwghYRDuyaZD9tuB3fnISKthEPbMxnet7bVHi4vqQ05Y1tKCn1rmRXPNc+RLQshhBBCCCEegaI4ApPheyeauKCNAAAAAElFTkSuQmCC');
			background-repeat: no-repeat;
			background-size: 12px;
			background-position: right 44px center;
			background-color: $lt-blue;
			border: 2px solid $lt-blue;
			border-radius: 36px;
			color: $white;
			text-decoration: none;

			&.collapsed {
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEUSURBVGhD7dExbsIwFMZxd2Rk6BYhwIZcoQOqHTp16gmYELfgFizco+qNysTI0iUvmPQ9FYmoIkCcWPp+kgf7SY7/igIAAAAAgBN6SXqUGc3bVtDMPNPreMLb+gqbDnOn9+RMkTuzKZR64lEwPuDdv+FweoNfSz6uh6xe8AXlyq3ehowpI6z++fu++eJRPcVs0PcXfbcRcxHhDJHTHzyuj95GU3/hLmRMZYTVKx7fLmRMYxEiREzjEaLJmGARoomY4BHikTGtRYhHxLQeIe6J6UyEuCWmcxGCsjS9NqazEeKamM5HiP9iookQlTFOf0YVIapioosQ1X8msghxHhNthCBrErKTNWXjOR8BAAAAAAD8UuoIV7fUf2CfWW8AAAAASUVORK5CYII=');
				background-color: $white;
				border-color: #f7f7f7;
				color: $red;
			}

			&:hover, &:focus {
				text-decoration: none;
			}		
		}
	}
	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: none;
		padding: 20px 54px;
	}
}