#partnering {
	color: #8a8a8a;
	h2 {
		&:after {
			background-color: #f9b021;
		}

		&:before {
			background-color: #008599;
		}
	}

	h4 {
		@include rem-font-size(32px);
		color: $ocean-blue;
		line-height: 1.3;
		font-weight: 300;
		margin-top: 80px;
		.line-3 {
			color: #008599;
		}
	}
}

#our-offerings {
	margin-top: 56px;
	h2 {
		&:before {
			display: none;
		}
		&:after {
			margin-left: auto;
			margin-right: auto;
			background-color: #f9b021;
			width: 70px;
		}
	}

	.border-box {
		margin-top: 86px;

		@media screen and (min-width: 768px) {
			margin-right: 15px;
			margin-top: 58px;
			width: percentage(308/967);
			float: left;			
		}

		@media screen and (min-width: 992px) {
			margin-right: 20px;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

#efforts {
	h2 {
		margin-top: 0;
		color: $white;

		&:before {
			display: none;
		}

		&:after {
			background-color: $dk-blue-lt;
			width: 70px;
			margin-right: auto;
			margin-left: auto;
		}
	}
}