/* Tech Page Styles */

#biovu, #phewas {
	position: relative;
	h2 {
		&:after {
			height: 5px;
			width: 105px;
			content: '';
			background-color: $dk-blue-lt;
			border-radius: 50px;
			display: block;
			margin: 33px 0 54px;
		}

		&:before {
			height: 5px;
			width: 40px;
			content: '';
			background-color: #87d4c4;
			border-radius: 50px;
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

#in-depth {
	margin-top: 50px;
	h2 {
		&:before, &:after {
			display: none;
		}
	}
}

.in-depth-grid {
	max-width: 993px;
	margin: 0 auto 52px;
}

.in-depth-item {
	background-color: $dk-blue-lt;
	@include rem-font-size(12px);
	border-radius: 10px;
	padding: 52px 20px;
	width: 18%;
	float: left;
	margin-right: 15px;
	text-align: center;
	height: 217px;
	overflow: hidden;

	&:last-of-type {
		margin-right: 0;
	}

	h3 {
		color: $white;
		@include rem-font-size(50px);
		text-transform: uppercase;
		font-weight: 300;
		margin: 0;
		line-height: normal;
		span {
			@include rem-font-size(25px);
		}
	}

	p {
		line-height: normal;
		color: #009eb9;
	}
}

.disclaimer-box {
	border: 2px solid #f7f7f7;
	border-radius: 10px;
	@include rem-font-size(16px);
	color: #0095a7;
	padding: 46px 56px;
}

#phewas {
	h2 {
		&:before {
			background-color: #87d4c4;
		}

		&:after {
			background-color: $dk-blue-lt;
		}
	}
}

