/* Footer Styles */

#site-footer {
	background-color: $dk-blue-lt;
	color: $white;
	padding: 50px 0;

	a {
		color: $white;

		&:hover, &:focus {
			color: $yellow;
		}
	}

	.col-md-3 {
		p {
			margin-top: 20px;

			@media screen and (min-width: 992px) and (max-width: 1199px) {
				@include rem-font-size(15px);
			}
		}
	}

	.linked-in-icon {
		margin-top: 28px;
		display: block;

		@media screen and (max-width: 991px) {
			text-align: center;
		}
	}
}

.copyright {
	margin: 28px 0;
}