/**Typography**/

body {
	font-family: $font-family-body;
	font-size: 16px;
	color: $text-color;
  	//margin-bottom: 60px; /* Margin bottom by footer height */
}

h1, h2, h4, h5 {
	font-family: $font-family-heading;
	color: $heading-text-color;
}

h1 {
	font-size: $font-size-h1;
	font-weight: 300;
}

.subtitle {
	color: $lt-blue;
	@include rem-font-size(14px);
	text-transform: uppercase;
	font-weight: 600;
}
.page-title {
}

h2 {
	color: $dk-blue-lt;
	font-weight: 300;
	@include rem-font-size(36px);
	line-height: 1.2;
	margin-top: 10px;
	position: relative;
}

h3 {
	color: $dk-blue-lt;
	font-weight: 300;
	@include rem-font-size(24px);
	line-height: 1.333;
}

h4 {
	color: $ocean-blue;
	@include rem-font-size(16px);
	margin: 0;
	line-height: 1.5;
}

h5 {
}

a {
	
	color: $lt-blue;
	text-decoration: none;

	&[href^="mailto"] {
		color: $red;

		&:hover, &:focus {
			color: $dk-blue-lt;
		}
	}
	
	&:hover, &:focus {
		color: $dk-blue-lt;
	}	
}

p {
	line-height: 1.5;
}

ul {

}

ol {
	.entry-content & {
		list-style: none;
		padding-left: 35px;
		margin-bottom: 34px;

		li {
			counter-increment: li;
			margin-bottom: 24px;
			&:before {
				content: counter(li);
				color: $white;
				display: inline-block;
				width: 1em;
				margin-left: -1.5em;
				margin-right: 0.7em;
				text-align: center;
				background-color: $dk-blue;
				border-radius: 50%;
				height: 24px;
				width: 24px;
				font-family: $font-family-heading;
				font-style: italic;
				line-height: 20px;
				border: 2px solid #d9dee7;
			}
		}
	}
}


